<!-- 
  Name: Riccardo Reali
  Student ID:301242893
  Course: COMP229
  Date: 2022-10-21
  Assignment 2
 -->

<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1>Add new contact</h1>

            <form class="form" method="POST">
                <input type="hidden" name="id" value="<%= movie._id %>" >
                <div class="form-group">
                    <label for="nameTextField">ID</label>
                    <input type="text" class="form-control"
                    id="nameTextField"
                    placeholder="Enter the person's ID"
                    name="name" 
                    value="<%= movie.name %>"
                    required>
                </div>

                <div class="form-group">
                    <label for="authorTextField">Name</label>
                    <input type="text" class="form-control"
                    id="authorTextField"
                    placeholder="Enter Name"
                    name="year" 
                    value="<%= movie.year %>"
                    required>
                </div>

                <div class="form-group">
                    <label for="publishedTextField">Phone Number</label>
                    <input type="number" class="form-control"
                    id="publishedTextField"
                    placeholder="Enter person's phone number"
                    name="director" 
                    value="<%= movie.director %>"
                    required>
                </div>

                <div class="form-group">
                    <label for="descriptionTextArea">E-mail</label>
                    <input type="text" class="form-control"
                    id="descriptionTextArea"
                    placeholder="Enter email"
                    name="genre"                     
                    value="<%= movie.genre %>"
                    required
                    >
                    </input>
                </div>

                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> Submit</button>
                
                    <a href="/movie-list" class="btn btn-warning">
                        <i class="fas fa-undo"></i> Cancel</a>

            </form>
        </div>

    </div>
</div>